.dialog {
  .modalContainer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    border: 1px solid gray;
    border-radius: 4px;
    max-height: 80%;
    z-index: 9999;
    position: relative;
    flex-direction: column;
    padding: 24px;
    row-gap: 16px;
    a {
      color: dodgerblue;
      text-decoration: underline;
    }
  }
}
