.breadcrumbs {
  ol {
    column-gap: 8px;
    li {
      .selected {
        font-weight: bolder;
        background: rgb(119, 136, 153, 35%);
      }
      button {
        border-radius: 50%;
        min-width: 36.5px;
        max-width: 36.5px;
        padding: initial 0;
        span {
          max-width: 0;
        }
      }
    }
  }
}
