$color-primary: #f8f8f8;
$color-secondary: #eaf0f2;
$color-dark: #666666;
$color-dark-gray: #c4c4c4;
$color-darker: #000000;

$color-warning-strong: #e22d00;
$color-warning-lite: #ce973d;

$color-richbox-outline: #e0e0e0;
$color-filter-pill: #252525;
$color-bluegreen: #00816c;
$color-hm-red: #e62b00;
$color-bookmark-red: #c83434;

$color-white: #ffffff;
$color-slider: #d8d8d8;
$color-dark-text: #222222;

$color-overlay: #252a4ab3;

// Use only colors listed above. They are from https://app.zeplin.io/project/61434aa156474d5545f63003/styleguide/colors

//TODO Discuss with Courtney and get rid of below colors.
$color-hover: #c92800;
$color-border: #ebebeb;
$color-background-secondary: #fafafa;
$color-scrollbar: #acacac;

$color-light-grey: #979797;

$color-top-banner-gradient: linear-gradient(to right, #ebebeb 25%, rgba(196, 196, 196, 0) 100%);
$color-top-banner-gradient-mobile: linear-gradient(to right, #ebebeb 25%, rgba(196, 196, 196, 0) 120%);
